{{ define "main" }}

<div class="single-main {{.Type}}">
    {{- partial "header.html" . -}}
    <div class="window">
        <div class="title-bar">
            <div class="title-bar-text">Failure</div>
            <div class="title-bar-controls">

            </div>
        </div>
        <div class="window-body">
            <div class="inner">
                {{.Content}}
            </div>
        </div>
        <div class="status-bar">
        </div>
    </div>

    {{- partial "single-footer.html" . -}}
</div>

{{ end }}
