.homepage {
    .hero {
        height: 100vh;
        background-image: url("../img/bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }


  .section {
    border-bottom: 2px solid silver;
    padding-bottom: 2em;
    position: relative;
    min-height: 100vh;

    @media screen and (max-width: 850px) {
      .header {
        max-width: 80vw;
        margin: 0 auto;

        img {
          max-width: 200px;
        }
      }
    }
  }

  .footer {
    padding: 1em;
    text-align: center;
  }

  .logo {
    width: 100%;
    filter: drop-shadow(30px 10px 4px #4444dd);
    height: 80vh;
    object-fit: contain;
  }

  p.welcome {
    text-align: center;
    color: lightgray;
    font-size: 32px;
    padding: 2em;
    -webkit-font-smoothing: none;
    font-family: "Pixelated MS Sans Serif", Arial, sans-serif;
    position: absolute;;
    left: 0;
    right: 0;
    opacity: 0.5;
    font-style: italic;
  }

  .motd {
    height: 20vh;
    text-align: center;
    color: white;
    font-size: 35px;
    position: relative;
    font-style: italic;
    font-weight: normal;
    -webkit-font-smoothing: none;
    font-family: "Pixelated MS Sans Serif", Arial, sans-serif;

    p {
      position: absolute;
      left: 0;
      right: 0;
      top: -2em;
      margin-top: 0;
    }
  }

  .arrow-down {
    position: absolute;
    bottom: 4em;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.7;
    background: linear-gradient(360deg, black, transparent);
    padding-bottom: 4em;

    p {
      -webkit-font-smoothing: none;
      font-family: "Pixelated MS Sans Serif", Arial, sans-serif;
      font-size: 11px;
      color: gray;
    }

    img {
      transform: rotate(-90deg);
    }
  }

  @import "./home/printers";
  @import "./home/store";
  @import "./home/failures";
  @import "./home/mods";
  @import "./home/live-stream";
}
