.homepage {
  background-image: url("../img/bg.jpg");
  background-size: contain;


  .section {
    border-bottom: 2px solid silver;
    margin-bottom: 1em;
    padding-bottom: 2em;
    position: relative;
  }

  .footer {
    padding: 1em;
    text-align: center;
  }

  .logo {
    width: 100%;
    filter: drop-shadow(30px 10px 4px #4444dd);
    height: 100vh;
    object-fit: contain;
  }

  .arrow-down {
    position: absolute;
    bottom: 3em;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.7;

    p {
      -webkit-font-smoothing: none;
      font-family: "Pixelated MS Sans Serif", Arial, sans-serif;
      font-size: 11px;
    }

    img {
      transform: rotate(-90deg);
    }
  }

  @import "./home/printers";
  @import "./home/store";
  @import "./home/failures";
}
