.failure {
  padding: 0;
  position: relative;
  min-height: 100vh;
  margin: 0;

  .printer-main {
    width: 500px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    height: 500px;
    border-bottom: 2px solid gray;

    @media screen and (max-width: 850px) {
      width: 99%;
      height: unset;
    }
  }

  p.caption {
    text-align: center;
    font-style: italic;
    font-size: 14px;
  }


  @media screen and (max-width: 850px) {
    margin: 0;
  }

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;

    img {
      max-width: 350px;
      padding: 5px;
    }

    p:first-child {
      align-self: center;
    }

    p {
      font-size: 14px;
      align-self: flex-start;
    }
  }

}
