.failures {
  background: url("../img/tile/reallystary.gif");

  text-align: center;

  .header {
      display: flex;
      align-items: center;
      justify-content: center;
  }

.left, .right {
      flex: 1;
  }
}

