.printers {
  background: black;

  .header {
    background: black;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;

    .accent-overlay {
      position: absolute;
      left: auto;
      bottom: 11em;
      right: 6em;
      transform: rotate(20deg) scale(2.5);
    }
  }

  .list {
    padding: 0 5em 5em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  .printer {
    background-position: bottom;
    background-size: cover;
    width: 500px;
    height: 200px;
    background-repeat: no-repeat;
    margin: 1em;

    @media screen and (max-width: 800px) {
      width: 100vw;
    }

    .failure-gif-overlay {
      position: absolute;
      bottom: 50%;
      left: 0;
      right: 0;
      z-index: 3;
    }

  .middle-finger-overlay {
        position: absolute;
        top: 4em;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%!important;
        object-fit: contain;
        opacity: 0.78;
        z-index: 2;
        height: calc(100% - 6em);
    }
  }

  .window {
    color: black;
    min-height: 520px;
    display: flex;
    flex-direction: column;
    position: relative;
    //  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;

    @media screen and (max-width: 800px) {
      min-height: calc(95vw + 20px);
    }

    .window-body {
      flex: 1;
      margin: 0;
      min-height: 500px;

      img {
        width: 500px;
      }

      @media screen and (max-width: 800px) {
        img {
          width: 95vw;
          height: 95vw;
        }
      }
    }

    .status-bar {
      justify-content: flex-end;
      padding-right: 5px;
      padding-bottom: 15px;
      position: absolute;
      right: 3px;
      bottom: 3px;
      z-index: 5;

      .fake-button {
          z-index: 450;
      }
    }

    .card-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 4;
      img {
        width: 100%;
        height: 317px;

        @media screen and (max-width: 800px) {
          height: unset;
        }
      }
    }
  }
}

.twitch-window {
  width: 100%;
  margin: 1em auto;
  max-width: 1025px;

  .window-body {
    position: relative;

    #twitch-embed {
      flex: 1;
      height: 90%;
      position: absolute;
      left: 0;
      right: 0;

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}