marquee {
    font-size: 50px;
}

.window {
    display: flex;
    flex-direction: column;
}

.window-body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0!important;
    margin-right: 0!important;
}