.single-printer {
  margin: 1em;
  position: relative;
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;

  .printer-main {
    width: 500px;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 2px;
    height: 500px;
    border-bottom: 2px solid gray;

    @media screen and (max-width: 850px) {
      width: 99%;
      height: unset;
    }
  }

  p.caption {
    text-align: center;
    font-style: italic;
    font-size: 14px;
  }

  @media screen and (max-width: 850px) {
    margin: 0;
  }
}

.single-main.printers {

  .stats {
    display: flex;
    flex-direction: column;

    ul {
      flex: 1;
    }

    margin: 1em;

    li {
      font-size: 14px;
    }

    flex: 1;
  }

  .upper {
    display: flex;
    flex-direction: row-reverse;
    flex: 1;
    width: 100%;

    @media screen and (max-width: 850px) {
      flex-direction: column-reverse;;
    }
  }

  @media screen and (max-width: 850px) {
    padding: 0.5em;

    .stats {
      margin: 1em 0 0;
    }
  }
}

.printer-content {
  margin-left: 1em;
  margin-right: 1em;
  position: relative;

  p {
    margin: 0;
  }

  h4 {
    font-size: 20px;
    text-align: center;
  }

  img {
      object-fit: fill;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  }

  blockquote {
    text-align: center;
    font-size: 18px;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: -5px 0 2em;
    box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #fff, inset -2px -2px grey, inset 2px 2px #dfdfdf;
  }
}