<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body class="single">

<div class="single-main {{.Type}}">
    {{- block "main" . }}

        <div class="window">
            <div class="title-bar">
                <div class="title-bar-text">{{.Title}}</div>
                <div class="title-bar-controls">
                    <button aria-label="Close">
                    </button>
                </div>
            </div>
            <div class="window-body">
                {{.Content}}
            </div>
            <div class="status-bar">
            </div>
        </div>
    {{- end }}
</div>

{{- partial "single-footer.html" . -}}
</body>
</html>
