html, body {
    position: relative;
    width: 1920px;
    height: 1080px;
}

html {
    background: transparent!important;
}


body {
    margin: 0;
    padding: 0;

    overflow: hidden;
    background: url("/img/tile/watercolor.jpg");
}

body.transparent {
    background: transparent!important;
}

.window {
    position: absolute;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23), inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
}

#cow {
    width: 504px;
    height: 282px;
    left: 200px;
    top: 26px;
}

#rooster {
    width: 528px;
    height: 297px;
    left: 71px;
    top: 336px;
}

#cnc {
    width: 471px;
    height: 353px;
    left: 91px;
    top: 696px;
}

#dog {
    width: 662px;
    height: 372px;
    left: 797px;
    top: 112px;
}

#horsie {
    width: 516px;
    height: 291px;
    left: 1363px;
    top: 740px;

    z-index: 10;
}

#domeRoom {
    width: 769px;
    height: 433px;
    left: 631px;
    top: 570px;
}

#domeHorsie {
    width: 376px;
    height: 644px;
    left: 1495px;
    top: 39px;
}