<div class="window failure-summary">
    <div class="title-bar">
        <div class="title-bar-text">{{.RelPermalink}}index.html</div>
        <div class="title-bar-controls">
            <button aria-label="Close"></button>
        </div>
    </div>
    <div class="window-body">
        <picture class="image-holder">
            <source srcset="{{.Params.cover}}.webp" type="image/webp">
            <img srcset="{{.Params.cover}}.jpg" alt="cover img">
        </picture>
        <div class="overlay">
            <div class="meta">
                <h2>{{.Title}}</h2>
                <p class="description"> {{.Params.description}}
            </div>
            <a class="fake-button" href="{{.RelPermalink}}">Go</a>
        </div>
    </div>
</div>
