<link rel="stylesheet" href="/css/stream-stats.css"/>

<div class="window window-printers">
    <div class="title-bar">
        <img class="title-bar-img" src="/img/window-icons/replacethispart.ico" alt="welcome">
        <div class="title-bar-text">Printers</div>
        <div class="title-bar-controls">
            <button aria-label="Minimize"></button>
            <button aria-label="Maximize"></button>
            <button aria-label="Close"></button>
        </div>
    </div>
    <div class="window-body">
        <ul class="tree-view">
        {{ range (index .printers) }}
        {{ partial "printer-status-item.html" . }}
        {{ end }}

        </ul>
    </div>

</div>

<script src="/js/stats.js"></script>