{{ define "main" }}
<div class="homepage">
    <p class="welcome">
        Welcome to.....
    </p>

    <div class="hero">
        {{ $mainLogo := resources.Get "/img/bs-card.png" }}
        <img src="{{ $mainLogo.RelPermalink }}" alt="logo" class="logo">


        <div class="arrow-down">
            {{ $backArrow := resources.Get "/img/back-arrow.gif" }}
            <img src="{{ $backArrow.RelPermalink }}" alt="back arrow">
        </div>

        {{- partial "nav.html" . -}}
    </div>
    <div class="inner-content homepage">
        <div class="live-stream section" id="live">
            <div class="header">
            </div>
            {{- partial "twitch-stream.html" . -}}
            <div class="footer">
            </div>
        </div>
        <div class="printers section" id="printers">
            <div class="header">
                {{ $sliderGif := resources.Get "/img/slidbar.gif" }}
                <img src="{{ $sliderGif.RelPermalink }}" alt="printers">
                <img class="mirrored" src="{{ $sliderGif.RelPermalink }}" alt="printers">
            </div>
            <div class="header">
                {{ $printersHeader := resources.Get "/img/printers.png" }}
                <img class="header-image wide" src="{{ $printersHeader.RelPermalink }}" alt="printers">
            </div>

            {{ partial "stats-stream.html" }}
            <div class="list">
                {{ range (index .Site.Data.printers) }}
                {{ partial "printers/printer-window" . }}
                {{ end }}
            </div>
        </div>

        <div class="failures section" id="failures">
            {{- partial "construction.html" . -}}
            <div class="header">
                {{ $failureGif := resources.Get "/img/nuke.gif" }}

                <div class="left">
                    <img src="{{ $failureGif.RelPermalink }}" alt="failure">
                </div>

                <div class="center">
                    {{ $failuresHeader := resources.Get "/img/failures.png" }}
                    <img class="header-image" src="{{ $failuresHeader.RelPermalink }}" alt="failures">
                </div>

                <div class="right">
                    <img src="{{ $failureGif.RelPermalink }}" alt="failure">
                </div>

            </div>

            <div class="list failures-list">
                {{$failures := where .Site.RegularPages ".Section" "eq" "failure" }}
                {{ range $failures }}
                {{ partial "failure-summary.html" . }}
                {{ end }}
            </div>
        </div>

        <div class="mods section" id="mods">
            {{- partial "construction.html" . -}}
            <div class="header">
                {{ $modsHeader := resources.Get "/img/mods.png" }}
                <img class="header-image" src="{{ $modsHeader.RelPermalink }}" alt="store">
            </div>
            <div class="list mods-list">
                {{$failures := where .Site.RegularPages ".Section" "eq" "mod" }}
                {{ range $failures }}
                {{ partial "mod-summary.html" . }}
                {{ end }}
            </div>
        </div>

        <div class="store section" id="store">
            {{- partial "construction.html" . -}}
            <div class="header">
                {{ $storeHeader := resources.Get "/img/store.png" }}
                <img class="header-image" src="{{ $storeHeader.RelPermalink }}" alt="store">
                <div class="dollar">
                    {{ $dollarGif := resources.Get "/img/dollar.gif" }}
                    <img src="{{ $dollarGif.RelPermalink }}" alt="dollar">
                </div>
            </div>
            <div class="list">

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function () {
        document.querySelectorAll("button").forEach(element => {
            const buttonType = element.getAttribute("aria-label");
            const buttonLink = element.getAttribute("data-link");
            if (buttonType === "Maximize" && !!buttonLink) {
                element.addEventListener('click', () => {
                    window.location.href = buttonLink;
                });
            }
        })
    })();
</script>
{{ end }}
