<div class="breadcrumb">
    <a href="/">Home</a>
    {{ $rel_Link := "" }}
    {{ $split_Link := (split .RelPermalink "/") }}
    {{ $len := (len $split_Link) }}
    {{ range $index, $element := $split_Link }}
        {{ if gt (len $element ) 0 -}}
            {{ if not (eq $element "printers") }}
                {{ $rel_Link = printf "%s/%s" $rel_Link $element }}
                {{ if eq (add $index 2) $len }}
                    <a class="active" href="{{ $rel_Link }}">{{ humanize $element }}</a>
                {{ else }}
                    <a href="{{ $rel_Link }}">{{ humanize . }}</a>
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
</div>
