<base href="{{ .Site.BaseURL }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $style := resources.Get "scss/style.scss" | resources.ToCSS (dict "outputStyle" "compressed") | fingerprint }}
    <link rel="stylesheet" href="https://unpkg.com/98.css">
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <link rel="icon" type="image/x-icon" href="{{ .Site.BaseURL }}/favicon.ico">
    <title>{{ $title }}</title>
</head>
